export(rstar, rstar.ci, rstar.ci.control, logPL, logMPL)
S3method(print, rstar)
S3method(summary, rstar)
S3method(print, rstarci)
S3method(summary, rstarci)
S3method(plot, rstarci)


import(cond)

 importFrom("graphics", "axis", "grid", "legend", "lines", "mtext",
     "par", "plot", "points")
     importFrom("stats", "nlminb", "pnorm", "predict", "qnorm",
     "smooth.spline", "spline")
     importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("nleqslv", "nleqslv")
importFrom("Rsolnp", "solnp")
importFrom("alabama", "constrOptim.nl")
importFrom("pracma", "grad", "jacobian", "hessian")

